<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="E_Monopoly.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="E_Monopoly.My.MySettings.E_Monopoly__properties_ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Resources\E-Monopoly (properties).accdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="E_Monopoly.My.MySettings.PropertyInfoConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PropertyInfo.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <E_Monopoly.My.MySettings>
            <setting name="MusicSite" serializeAs="String">
                <value>Google Play Music</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>£</value>
            </setting>
            <setting name="Money" serializeAs="String">
                <value>1748</value>
            </setting>
            <setting name="Land" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="Houses" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Hotels" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="PassGo" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="InJail" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IncomeTax" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SuperTax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CriticalPrincipal" serializeAs="String">
                <value>2300</value>
            </setting>
            <setting name="CriticalTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CriticalAmount" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TexttoSpeech" serializeAs="String">
                <value>Deny</value>
            </setting>
            <setting name="CriticalLand" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CriticalHouse" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="InterestRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HistoryFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="NoofPlayers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IconSelector" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player1Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="Player2Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="Player3Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="Player4Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="Player5Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="Player6Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="Player7Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="Player8Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="ScoreBoard2ndScreen" serializeAs="String">
                <value>Invisible</value>
            </setting>
            <setting name="dicetotal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogFName" serializeAs="String">
                <value>Main</value>
            </setting>
            <setting name="DeluxeAssurance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckList" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlayerIndicator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sound_SFX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmpropertyviewTimer" serializeAs="String">
                <value>5000</value>
            </setting>
        </E_Monopoly.My.MySettings>
    </userSettings>
</configuration>
